@charset "utf-8";

body{background-color: #E1E7F2;}
section > h2{display: none;}
section{width: 100%; margin: 0px auto;}
img{
    width:100%; height: auto;
    object-fit: cover;
    animation: ani 5s infinite;
}

@keyframes ani {
    0%{transform: scale(1);}
    50%{transform: scale(1.6);}
    100%{transform: scale(1.3);}
}